<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PHPStudios_Bypass2FA" setup_version="1.0.0" >
        <sequence>
            <module name="PHPStudios_Core"/>
            <module name="Magento_TwoFactorAuth"/>
        </sequence>
    </module>
</config>
