<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PHPStudios_Bypass2FA::menu"
             title="Bypass 2FA"
             module="PHPStudios_Bypass2FA"
             sortOrder="50"
             resource="PHPStudios_Bypass2FA::menu"
             parent="PHPStudios_Core::phpstudios"
        />
        <add id="PHPStudios_Bypass2FA::configuration"
             title="Configuration"
             module="PHPStudios_Bypass2FA"
             sortOrder="10"
             action="adminhtml/system_config/edit/section/bypass2fa"
             resource="PHPStudios_Bypass2FA::config"
             parent="PHPStudios_Bypass2FA::menu"
        />
    </menu>
</config>
